{% extends 'main.html' %}
{% block content %}
<title> Country Selector</title>
<!-- Main Section -->
<main class="countries">

    <section class="hero-section text-center">
        <div class="container container--narrow">
            <div class="hero-section__box">
                <h2>Search for <span>Countries</span></h2>
            </div>

            <div class="hero-section__search">
                <form id='searchForm' class="form" action="{% url 'countries' %}" method="get">
                    <div class="form__field">
                        <label for="formInput#search">Search By Countries </label>
                        <input class="input input--text" id="formInput#search" type="text" name="search_query"
                            placeholder="Search by Country Name " value="{{search_query}}" />
                    </div>

                    <input class="btn btn--sub btn--lg" type="submit" value="Search" />
                </form>
                    
                    <div class="is-divider small"></div><div class="country_selector_dropdown">
                    <a href="#" class="country_selector_dropbtn"><span class="flag-icon flag-icon-un"></span> 
                    Choose your country</a>
                    <div class="country_selector_dropdown-content">
                    {% for country in countries %}
                    <a href="{% url 'country' country.code %}" data-country-code="{{ country.code}}">
                    <span class="flag-icon flag-icon-{{ country.code | lower }}"> </span> {{ country.name }}</a>
                    {% endfor %}
                    </div>
                    
            </div>
            
        </div>
    </section>

    <!-- Search Result: countries -->
    <section id="main" class="">
        <div  class="page-wrapper page-left-sidebar">
        <div class="row">
        <div id="content" class="large-9 right col" role="main">
        <div class="page-inner">
        <div id="country_selector_page" class="country_selector_page">

            <ul id="tabs" class="country_selector_continents">

                <li class="country-selector-col-sm-2"><a id="tab1">
                    <h2>Africa</h2>
                    <i class="mg map-wrld-af"></i>
                </a>
                </li>
                <li class="country-selector-col-sm-2"><a id="tab2"><h2>America</h2>
                    <i class="mg map-wrld-am"></i></a></li>
                    <li class="country-selector-col-sm-2"><a id="tab3"><h2>Asia</h2>
                        <i class="mg map-wrld-as"></i></a></li>
                        <li class="country-selector-col-sm-2"><a id="tab4"><h2>Europe</h2>
                            <i class="mg map-wrld-eu"></i></a></li>
                            <li class="country-selector-col-sm-2"><a id="tab5"><h2>Oceania</h2>
                                <i class="mg map-wrld-oc"></i></a></li>
          
          </ul>
              
          <!-- African countries -->
          <div class="container" id="tab1C">
                        <div class="country-selector-col-sm-12"><h3>Africa</h3></div>
            {% for country in africa %}
            <div class="country-selector-col-sm-3 country_selector_country">
            <a href="{% url 'country' country.code %}"><i class="mg map-{{ country.code |lower }}"></i><span class="flag-icon country_selector_page_flag flag-icon-{{ country.code |lower }} circle"></span>{{ country.name }}</a>
            </div>
            {% endfor %}
            </div> 
            </div>
    
    <!-- American countries -->
          <div class="container" id="tab2C">
                        <div class="country-selector-col-sm-12"><h3>America</h3></div>
            {% for country in america %}
            <div class="country-selector-col-sm-3 country_selector_country">
            <a href="{% url 'country' country.code %}"><i class="mg map-{{ country.code |lower }}"></i><span class="flag-icon country_selector_page_flag flag-icon-{{ country.code |lower }} circle"></span>{{ country.name }}</a>
            </div>
            {% endfor %}
            </div> 
            </div>
    
            <!-- Asian countries -->
          <div class="container" id="tab3C">
                        <div class="country-selector-col-sm-12"><h3>Asia</h3></div>
            {% for country in asia %}
            <div class="country-selector-col-sm-3 country_selector_country">
            <a href="{% url 'country' country.code %}"><i class="mg map-{{ country.code |lower }}"></i><span class="flag-icon country_selector_page_flag flag-icon-{{ country.code |lower }} circle"></span>{{ country.name }}</a>
            </div>
            {% endfor %}
            </div> 
            </div>
    
    
            <!-- Europe countries -->
          <div class="container" id="tab4C">
                        <div class="country-selector-col-sm-12"><h3>Europe</h3></div>
            {% for country in europe %}
            <div class="country-selector-col-sm-3 country_selector_country">
            <a href="{% url 'country' country.code %}"><i class="mg map-{{ country.code |lower }}"></i><span class="flag-icon country_selector_page_flag flag-icon-{{ country.code |lower }} circle"></span>{{ country.name }}</a>
            </div>
            {% endfor %}
            </div> 
            </div>
    
            <!-- Oceania countries -->
          <div class="container" id="tab5C">
                        <div class="country-selector-col-sm-12"><h3>Oceania</h3></div>
            {% for country in oceania %}
            <div class="country-selector-col-sm-3 country_selector_country">
            <a href="{% url 'country' country.code %}"><i class="mg map-{{ country.code |lower }}"></i><span class="flag-icon country_selector_page_flag flag-icon-{{ country.code |lower }} circle"></span>{{ country.name }}</a>
            </div>
            {% endfor %}
            </div> 
            </div>
    

</section>

<div>

</div>
<section class="container">
        <div class="country-selector-row country_selector_countries_by_continent country_selector_countries_africa">
        <div class="country-selector-col-sm-12"><h3>Africa</h3></div>
        {% for country in countries %}
        {% if country.code in africa %}
        <div class="country-selector-col-sm-3 country_selector_country">
        <a href="{% url 'country' country.code %}"><i class="mg map-{{ country.code |lower }}"></i><span class="flag-icon country_selector_page_flag flag-icon-{{ country.code |lower }} circle"></span>{{ country.name }}</a>
        </div>
        {% endif %}
        {% endfor %}
        </div>  

       
        <div class="country-selector-col-sm-12">
            <a name="america"></a>
            <h3>Americas</h3></div>
        {% for country in countries %}
        {% if country.code in america %}
        <div class="country-selector-col-sm-3 country_selector_country">
        <a href="{% url 'country' country.code %}"><i class="mg map-{{ country.code |lower }}"></i><span class="flag-icon country_selector_page_flag flag-icon-{{ country.code |lower }} circle"></span>{{ country.name }}</a>
        </div>
        {% endif %}
        {% endfor %}
    

        
        <div class="country-selector-col-sm-12">
            <a name="asia"></a>
            <h3>Asia</h3></div>
        {% for country in countries %}
        {% if country.code in asia %}
        <div class="country-selector-col-sm-3 country_selector_country">
        <a href="{% url 'country' country.code %}" > <i class="mg map-{{ country.code |lower }}"></i><span class="flag-icon country_selector_page_flag flag-icon-{{ country.code |lower }} circle"></span>{{ country.name }}</a>
        </div>
        {% endif %}
        {% endfor %}
        </div>  

        <div class="country-selector-col-sm-12">
            <a name="europe"></a>
            <h3>Europe</h3></div>
        {% for country in countries %}
        {% if country.code in europe %}
        <div class="country-selector-col-sm-3 country_selector_country">
        <a href="{% url 'country' country.code %}"><i class="mg map-{{ country.code |lower }}"></i><span class="flag-icon country_selector_page_flag flag-icon-{{ country.code |lower }} circle"></span>{{ country.name }}</a>
        </div>
        {% endif %}
        {% endfor %}
        </div> 

        
        <div class="country-selector-col-sm-12">
            <a name="oceania"></a>
            <h3>Oceania</h3></div>
        {% for country in countries %}
        {% if country.code in oceania %}
        <div class="country-selector-col-sm-3 country_selector_country">
        <a href="{% url 'country' country.code %}"><i class="mg map-{{ country.code |lower }}"></i><span class="flag-icon country_selector_page_flag flag-icon-{{ country.code |lower }} circle"></span>{{ country.name }}</a>
        </div>
        {% endif %}
        {% endfor %}
        </div>
               
        <div class="country-selector-row">
        <hr>
        </div>
        </div>
        </div>
        </div>
        </div>
        <div class="large-3 col col-first col-divided">
        <div id="secondary" class="widget-area " role="complementary">
        <aside id="country_selector-5" class="widget country_selector"><span class="widget-title "></span>
        <div class="is-divider small"></div><div class="country_selector_dropdown">
        <a href="#" class="country_selector_dropbtn"><span class="flag-icon flag-icon-un"></span> 
        Choose your country</a>
        <div class="country_selector_dropdown-content">
        {% for country in countries %}
        <a href="{% url 'country' country.code %}" data-country-code="{{ country.code}}">
        <span class="flag-icon flag-icon-{{ country.code | lower }}"> </span> {{ country.name }}</a>
        {% endfor %}
        </div></aside></div>
        </div>
        </div>
        </div>
    </section>

    {% include 'pagination.html' with queryset=countries custom_range=custom_range %} 

</main>


{% endblock %}