{% extends 'main.html' %}

{% block content %}
<title> {{ country.name }} </title>
<!-- Main Section -->
    <main>
    <section>
      <div style="display: inline-block;">
        <h2><a href="#"><i class="mg map-{{ country.code |lower }}"></i><span class="flag-icon country_selector_page_flag flag-icon-{{ country.code |lower }} circle"></span>{{ country.name }}</a></h2>

      </div>
      <div style="float: right;">
        <div class="country_selector_dropdown" >
          <div><a href="#" class="country_selector_dropbtn" style="text-align: right;"><span class="flag-icon flag-icon-un"></span> 
            Switch country</a>
            <div class="country_selector_dropdown-content">
            {% for country in africa %}
            
            <a href="{% url 'country' country.code %}" data-country-code="{{ country.code}}">
            <span class="flag-icon flag-icon-{{ country.code | lower }}"> </span> {{ country.name }}</a>
            {% endfor %}
            </div>
            </div>
          </div>

        </div>
    </section>

      
          <div class="tabs">
            <ul id="tabs-nav" class="header__menu">
              <li class="header__menuItem"><a href="#party-tab">Parties</a></li>
              <li class="header__menuItem"><a href="#policy-tab">Policies</a></li>
              <li class="header__menuItem"><a href="#candidates-tab">Candidates</a></li>
              <li class="header__menuItem"><a href="#programs-tab">Programs</a></li>
              <li class="header__menuItem"><a href="#forum-tab">Forum</a></li>
            </ul> <!-- END tabs-nav -->
            <div id="tabs-content">
              <div id="party-tab" class="tab-content">
                {% include 'partials/parties.html' %}
              </div>
              <div id="policy-tab" class="tab-content">
                {% include 'partials/policies.html' %}
              </div>
              <div id="candidates-tab" class="tab-content">
                {% include 'partials/profiles.html' %}
              </div>
              <div id="programs-tab" class="tab-content">
                {% include 'partials/projects.html' %}
               </div>
              <div id="forum-tab" class="tab-content">
                {% include 'partials/forum.html' %}
              </div>
            </div> <!-- END tabs-content -->
          </div> <!-- END tabs -->
        

        </main>

          <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<script>

  // Show the first tab and hide the rest
$('#tabs-nav li:first-child').addClass('active');
$('.tab-content').hide();
$('.tab-content:first').show();

// Click function
$('#tabs-nav li').click(function(){
  $('#tabs-nav li').removeClass('active');
  $(this).addClass('active');
  $('.tab-content').hide();
  
  var activeTab = $(this).find('a').attr('href');
  $(activeTab).fadeIn();
  return false;
});
</script>

{% endblock %}