{% extends 'main.html' %}

{% block content %}



    <div class="section">
        <h1>{{event.name}}</h1>
    </div>
   
    {% if event.event_status == 'Ongoing' %}
    <div class="section" id="event--action--wrapper">
        {% if registered %} 
            <p class="text--success">You have already registed for this event || </p>
        {% else %}
            <a class="btn btn--main"  href="{% url 'registration-confirmation' event.id %}">Register</a>
        {% endif %}

        {% if submitted %} 
            <p class="text--success">You have already submitted your proposal</p>
        {% else %}
            <a class="btn btn--main" href="{% url 'proposal-submission' event.id %}">Submit proposal</a>
        {% endif %}
    
    </div>
    {% else %}
        <p>Registration closed for this event.</p>
    {% endif %}


    <div class="users--lists section">
        {% for user in event.participants.all %}
            <a href="#">
                <div class="wrapper--user">
                    <div class="avatar__border">
                        <img class="user--avatar--sm" src="{{user.avatar.url}}"/>
                    </div>
        
                    <p>{{user.name}}</p>
            
                </div>
            </a>
        {% endfor %}
    </div>
{% endblock %}