<div class="container">
    <footer class="py-5">
        <div class="row">
            <div class="col-2">
                <h5>Diaspora</h5>
                <ul class="nav flex-column">
                    <li class="nav-item mb-2"><a href="{% url 'placeholder' %}">Connect</a> </li>
                    <li class="nav-item mb-2"><a href="{% url 'placeholder' %}">Invest in Africa</a> </li>
                    <li class="nav-item mb-2"><a href="{% url 'placeholder' %}">Jobs in Africa</a> </li>
                    <li class="nav-item mb-2"><a href="{% url 'placeholder' %}">Homes in Africa</a> </li>
                    <li class="nav-item mb-2"><a href="{% url 'placeholder' %}">Study Overseas</a> </li>
                    <li class="nav-item mb-2"><a href="{% url 'placeholder' %}">Work Abroad</a> </li>
                </ul>
            </div>

            <div class="col-2">
                <h5>Partners</h5>
                <ul class="nav flex-column">
                    <li class="nav-item mb-2"><a href="{% url 'placeholder' %}">Friends of the Congo</a> </li>
                    <li class="nav-item mb-2"><a href="{% url 'placeholder' %}">African Diasporta</a> </li>
                    <li class="nav-item mb-2"><a href="{% url 'placeholder' %}">Real South Africa</a> </li>
                    <li class="nav-item mb-2"><a href="{% url 'placeholder' %}">China-Africa</a> </li>
                    <li class="nav-item mb-2"><a href="{% url 'placeholder' %}">Sankara Foundation</a> </li>
                    <li class="nav-item mb-2"><a href="{% url 'placeholder' %}">Africans Down Under</a> </li>
                </ul>
            </div>

            <div class="col-2">
                <h5>Get Involved</h5>
                <ul class="nav flex-column">
                    <li class="nav-item mb-2"><a href="{% url 'placeholder' %}">African Campaigns</a> </li>
                    <li class="nav-item mb-2"><a href="{% url 'placeholder' %}">African Internships</a> </li>
                    <li class="nav-item mb-2"><a href="{% url 'placeholder' %}">Donate to a Cause</a> </li>
                    <li class="nav-item mb-2"><a href="{% url 'placeholder' %}">Volunteer for a Cause</a> </li>
                    <li class="nav-item mb-2"><a href="{% url 'placeholder' %}">Write With Us</a> </li>
                    <li class="nav-item mb-2"><a href="{% url 'placeholder' %}">Eye Witness</a> </li>

                </ul>
            </div>

            <div class="col-4 offset-1">
                <form>
                    <h5>Subscribe to our newsletter</h5>
                    <p>Monthly digest of whats new and exciting in Africa.</p>
                    <div class="d-flex w-100 gap-2">
                        <label for="newsletter1" class="visually-hidden">Email address</label>
                        <input id="newsletter1" type="text" class="form-control" placeholder="Email address">
                        <button class="btn btn-primary" type="button">Subscribe</button>
                    </div>
                </form>
            </div>
        </div>

        <div class="d-flex justify-content-between py-4 my-4 border-top">
            <p>© 2024 VoxMissa, Inc. All rights reserved.</p>
            {% include "social.html" %}
            <!-- <nav class="social-svg">
                <a href="https://facebook.com">
                  <svg role="img" aria-label="Facebook" width="10" height="10">
                    <title>Facebook</title>
                    <use xlink:href="#facebook" />
                  </svg>
                </a>
              
                <a href="https://twitter.com">
                  <svg role="img" aria-label="Twitter" width="10" height="10">
                    <title>Twitter</title>
                    <use xlink:href="#twitter" />
                  </svg>
                </a>
              
                
                <a href="https://linkedin.com">
                  <svg role="img" aria-label="Linkedin" width="10" height="10">
                    <title>LinkedIn</title>
                    <use xlink:href="#linkedin" />
                  </svg>
                </a> -->
            <!-- <ul class="list-unstyled d-flex">
                <li class="ms-3"><a href="https://twitter.com">
                    <svg role="img" aria-label="Twitter" width="10" height="10">
                      <title>Twitter</title>
                      <use xlink:href="#twitter"></use>
                    </svg>
                  </a></li>
                <li class="ms-3"><a class="link-light" href="#"><svg class="bi" width="24" height="24"><use xlink:href="#instagram"></use></svg></a></li>
                <li class="ms-3"><a class="link-danger" href="#"><svg class="bi" width="24" height="24"><use xlink:href="#facebook"></use></svg></a></li>
              </ul> -->
        </div>
    </footer>
</div>