{% load static %}
<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
.dropbtn {
  background-color: #04AA6D;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {background-color: #ddd;}

.dropdown:hover .dropdown-content {display: block;}

.dropdown:hover .dropbtn {background-color: #3e8e41;}
</style>

<!-- Header Section -->
<header class="header">
    <div class="container container--narrow">
        <a href="{% url 'home' %}" class="header__logo">
            <img src="{% static 'images/logo.jpeg' %} " alt="Vox Missa Logo" />
            <p><strong>Vox Popili</strong> </p>
        </a>

        <nav class="header__nav">
            <input type="checkbox" id="responsive-menu" />
            <label for="responsive-menu" class="toggle-menu">
                <span>Menu</span>
                <div class="toggle-menu__lines"></div>
            </label>
            <ul class="header__menu">
               
                <!-- <li class="header__menuItem"><a href="{% url 'profiles' %}">Candidates</a></li>
                <li class="header__menuItem"><a href="{% url 'projects' %}">Programs</a></li>  -->
                <!-- <li class="header__menuItem"><a href="{% url 'calendar' %}">Events</a></li> -->
                <div class="dropdown">
                    <span><i class="fa fa-user fa-calendar"></i> Events</span>
                    <div class="dropdown-content">
                        <a href="{% url 'calendar' %}">Elections</a>
                        <a href="{% url 'calendar' %}">Campaigns</a>
                        <a href="{% url 'calendar' %}">Other</a>
                    </div>
                  </div>

                  <div class="dropdown">
                    <span><i class="fa fa-user fa-world"></i> Diaspora</span>
                    <div class="dropdown-content">
                        <a href="{% url 'placeholder' %}">Connect</a>
                        <a href="{% url 'placeholder' %}">Invest in Africa</a>
                        <a href="{% url 'placeholder' %}">Jobs in Africa</a>
                        <a href="{% url 'placeholder' %}">Homes in Africa</a>
                        <a href="{% url 'placeholder' %}">Study Overseas</a>
                        <a href="{% url 'placeholder' %}">Work Abroad</a>
                    </div>
                  </div>

                  <div class="dropdown">
                    <span><i class="fa fa-user fa-world"></i> Partners</span>
                    <div class="dropdown-content">
                        <a href="{% url 'placeholder' %}">Friends of the Congo</a>
                        <a href="{% url 'placeholder' %}">African Diasporta</a>
                        <a href="{% url 'placeholder' %}">Real South Africa</a>
                        <a href="{% url 'placeholder' %}">China-Africa</a>
                        <a href="{% url 'placeholder' %}">Sankara Foundation</a>
                        <a href="{% url 'placeholder' %}">Africans Down Under</a>
                    </div>
                  </div>

                  <div class="dropdown">
                    <span><i class="fa fa-user fa-world"></i> Get Involved</span>
                    <div class="dropdown-content">
                        <a href="{% url 'placeholder' %}">African Campaigns</a>
                        <a href="{% url 'placeholder' %}">African Internships</a>
                        <a href="{% url 'placeholder' %}">Donate to a Cause</a>
                        <a href="{% url 'placeholder' %}">Volunteer for a Cause</a>
                        <a href="{% url 'placeholder' %}">Write With Us</a>
                        <a href="{% url 'placeholder' %}">Eye Witness</a>
                    </div>
                  </div>

               
                <li class="header__menuItem"><a href="{% url 'forum' %}">Forum</a></li>

            
                {% if request.user.is_authenticated %}
                <div class="dropdown">
                    <span><i class="fa fa-user fa-lg"></i></span>
                    <div class="dropdown-content">
                        <a href="{% url 'account' %}">Account</a>
                        <a href="{% url 'inbox' %}">Messages</a>
                        <a href="{% url 'logout' %}">Logout</a>
                    </div>
                  </div>

                {% else %}
                <li class="header__menuItem"><a href="{% url 'login' %}" class="btn btn--sub">Login/Sign Up</a></li>
                {% endif %}
            </ul>
        </nav>
    </div>
</header>